.container-login {
    width: 400px;
    height: 380px;
    border: solid 1px black;
    padding-top: 10px;

    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.redes-cred button {
    border: solid 1px rgb(192, 192, 202);
    width: 350px;
    height: 35px;
    margin-top: 15px;
    
    background-color: #FD7171;
    color: white;  
    font-size: 15px; 
    cursor: pointer;
}

.data-record {
    width: inherit;
    background-color: rgb(238, 241, 245);
    margin-top: 30px;
    height: 250px;
    
    

}
.data-record p {
    font-size: .8em;
    text-align: start;
    margin-left: 25px;
    color: dimgrey;
    
}

.data-record input {
    width: 337px;
    height: 35px;
    margin-top: 15px;
    padding-left: 10px;

}
.data-record .login {
    
    margin-top: 30px;
    width: 100px;
    height: 35px;
    background-color: #280004;
    color: white; 
    cursor: pointer;  
}
.data-record .conditions {
    display: inline;   
}
.enter {
    display: flex;
    padding-left: 30px;
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {
    
}
@media screen and (max-width: 320px) {

}