extends layout.pug

block content
  .container.text-center
    h2 Umami Service-API
    .d-flex.justify-content-center
        a.btn.btn-primary.mr-2(href='/admin') Admin Panel
        a.btn.btn-primary(href='/api/documentation') Api Docs