body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.boton-receta{
    padding-top: 35px;
    width: 349px;
    height: 70px;
    background-color: #280004;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.boton-receta a {
    /* border: solid 1px red; */
    color: white;
    text-decoration: none; 
    font-size: 15px;
    font-weight: bold;
}

hr {
    width: 70%;
    color: white;
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 480px) {
    width: 175px;
    height: 35px;
}
}