.fondo-oscuro {

    z-index: 100000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.container-register {
    width: 400px;
    background-color: white;
    height: 550px;
    border: solid 1px black;
    padding-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
.logo {
    width: 350px;
    height: 120px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    
  
  }
.logo img {
    width: 140px;
  }
  
.redes-cred button {
    border: solid 1px rgb(192, 192, 202);
    width: 350px;
    height: 35px;
    margin-top: 15px;
    
    background-color: #FD7171;
    color: white;  
    font-size: 15px; 
    cursor: pointer;
  }
  
.data-record {
    width: inherit;
    background-color: rgb(238, 241, 245);
    margin-top: 30px;
    height: 286px;
    margin: 0 auto;
    
  
  }
.data-record p {
    font-size: .8em;
    text-align: start;
    margin-left: 25px;
    color: dimgrey;
    
  }
  
.data-record input {
    width: 337px;
    height: 35px;
    margin-top: 15px;
    padding-left: 10px;
  }

  .data-record .login {
    margin-top: 10px;
    height: 35px;
    background-color: #280004;
    color: white; 
    cursor: pointer;  
  }
  
  hr {
    color: cadetblue;
    border: solid 1px;
    margin-bottom: 20px;
  }
  .data-record .conditions {
    font-size: 0.5em;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .data-record .footer {
    text-align: center;
  }
  .data-record .footer a {
    text-decoration: none;
    color: #FD7171;
  }
  
  .cerrar{
    float: right;
  }
